{% load static %}
<!--===============Start header_code===============-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Bangladesh Power Development Board">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="{% static 'dist/img/' %}">
    <title>Test project</title>

    <!-- Icons -->
    <link href="{% static 'dist/vendors/css/jquery.datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/vendors/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/vendors/css/simple-line-icons.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>

    <!-- Main styles for this application -->
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet">

    {% block extrahead %}
    {% endblock %}
    
</head>
<!--===============End header_code===============-->